<style>
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f2f2f2;
      }

      img {
        display: block;
        margin: auto;
        max-width: 30%;
      }

      h1 {
        font-size: 3.5em;
        font-style: italic;
        margin-top: 0;
        padding-bottom: 1%;
        text-align: center;
        border-bottom: 1px solid #000000;
      }

      p {
        font-size: 1.2em;
        margin-top: 0;
        text-align: center;
      }

      .price {
        font-size: 1.2em;
        color: black;
        
      }

      button {
        background-color: rgb(26, 25, 25);
        color: #fff;
        font-size: 1em;
        padding: 6px 50px;
        border: 10%;
        border-width: 5%;
        border-radius: 20px;
        cursor: pointer;
        display: block;
        margin: auto;
        text-align: center;
      }

      button:hover {
        background-color: #313232;
      }

      input[type="number"] {
        width: 30px;
        padding: 5px;
        margin-left: 3px;
        border-radius: 5px;
        border: none;
        background-color: #f2f2f2;
        color: #333;
      }

      .checkout-container {
        display: flex;
        margin-top: 35px;
        background-color: #fff;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
        padding: 30px;
        border-radius: 10px;
        flex-wrap: wrap;
        justify-content: space-between;
      }

      .checkout-details {
        flex-basis: 60%;
        
      }

      .checkout-details h3 {
        font-size: 1.5em;
        margin: 0;
        text-align: center;
        padding-bottom: 5px;
        border-bottom: 1px solid #000000;
      }

      .checkout-details p {
        font-size: 1.1em;
        margin: 5px 0;
        margin-top: 10px;
        margin-bottom: 15px;
      }

      label[for="shipping-to"], label[for="shipping-fee"], label[for="quantity"] {
        display: inline-block;
        text-align: right;
        width: 30%;
        margin-right: 10px;
        margin-left: 85px;
      }

      .checkout-summary {
        flex-basis: 30%;
        background-color: #f2f2f2;
        padding: 20px;
        border-radius: 5px;
      }

      .checkout-summary h3 {
        font-size: 1.5em;
        margin-top: 1%;
        text-align: center;
      }

      .checkout-summary p {
        display: inline-block;
        font-size: 1.1em;
        margin: 5px 0 20px 0;
        margin-right: 10px;
        margin-left: 105px;
        text-align: left;
      }

      .checkout-summary button {
        background-color: rgb(26, 25, 25);
        color: #fff;
        font-size: 1em;
        padding: 6px 50px;
        border: 10%;
        border-width: 5%;
        border-radius: 20px;
        cursor: pointer;
        display: block;
        margin: auto;
        text-align: center;
      }

      button:hover {
        background-color: #323333;
      }

      .order-details {
        background-color: #fff;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
        padding: 20px;
        margin-top: 25px;
        margin-left: 12px;
        border-radius: 5px;
      }

      .order-details h3 {
        font-size: 1.2em;
        text-align: center;
        margin-top: 0;
        border-bottom: 1px solid black;
    
      }

      .order-item {
        border: 1px solid #e5e3e3;
        border-radius: 4px;
        margin-bottom: 20px;
        display: flex;
        margin-top: 20px;
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
        flex-wrap: wrap;
      };


      .order-item-details {
        display: flex;
        align-items: center;
        margin-top: 10px;
      }

      .order-item-details h3 {
        font-size: 1.5rem;
        margin-top: 10px;
        text-align: center;
        border-bottom: 1px solid #000000;
      }

      .order-item-details img {
        display: block;
        float: left;
        margin-top: 1px;
        margin-left: 320px;
        margin-right: 50px;
        max-width: 20%;
      }

      .order-item-details p {
        font-size: 1em;
        margin-top: 15px;
        text-align: left;
      }

      .order-item-details .order-item-total {
        font-size: 1.2em;
        font-weight: bold;
        text-align: right;
        margin-right: 100px;
      }

      #order-container {
        margin-top: 20px;
      }
</style>
